@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

* {
  font-family: 'Amatic SC', cursive;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #455a64;
}

ol {
  list-style: none;
}

ol li {
  padding: 10px;
}

.app-bar {
  position: fixed;
}

#root > div > div:nth-child(1) > h1 {
  text-align: center;
  font-size: 40px !important;
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 1);
  padding-right: 49px;
}

.shelf {
  display: grid;
  background-color: #37474f !important;
  margin: 10px;
  padding: 5px;
  overflow-x: auto;
}

.shelf-title {
  color: #ff3d00;
  text-align: center;
  padding: 10px;
}

.shelf-title span {
  font-size: 30px;
  font-weight: 600;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 1);
}

.shelf-content {
  display: flex;
}

#root > div > div.list-books > div > div > div.shelf-content > div > div > div:nth-child(2) {
  font-size: 24px !important;
  font-weight: bold;
}

#root
  > div
  > div.list-books
  > div
  > div
  > div.shelf-content
  > div
  > div
  > div:nth-child(3)
  > div
  > div:nth-child(1)
  > div:nth-child(2) {
  font-size: 24px !important;
  font-weight: bold;
}

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.books-grid li {
  padding: 10px 15px;
  text-align: left;
}

.search-books-results {
  padding: 80px 10px 20px;
}

.search-books-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 1);
}

#search-input {
  font-family: 'Amatic SC', cursive !important;
  font-size: 26px !important;
}

.search-suggestion,
.empty-shelf-message {
  font-weight: bold;
  height: 11em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  color: #eceff1;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

.empty-search-result {
  font-weight: bold;
  height: 7em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  color: #eceff1;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 1);
}

.empty-shelf-message {
  width: 100%;
  font-size: 23px;
  height: 4em;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 1);
}

.search-books-input-wrapper {
  width: 100%;
}

#root
  > div
  > div.search-books
  > div
  > div.search-books-results
  > div
  > div
  > div
  > div:nth-child(2) {
  font-size: 24px !important;
  font-weight: bold;
}

#root
  > div
  > div.search-books
  > div
  > div.search-books-results
  > div
  > div
  > div
  > div:nth-child(3)
  > div
  > div:nth-child(1)
  > div:nth-child(2) {
  font-size: 24px !important;
  font-weight: bold;
}

.cover-wrapper,
.cover-wrapper img {
  height: 250px;
}

body > div:nth-child(5) > div > div > div > div > span > div > div {
  font-size: 24px !important;
  font-weight: bold;
}

.menu-item-link {
  text-decoration: none;
}

.menu-item-link div {
  font-size: 24px !important;
  font-weight: 600;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 1);
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #b0bec5;
  font-family: 'Amatic SC', cursive;
  font-weight: 600;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #b0bec5;
  font-family: 'Amatic SC', cursive;
  font-weight: 600;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #b0bec5;
  font-family: 'Amatic SC', cursive;
  font-weight: 600;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #b0bec5;
  font-family: 'Amatic SC', cursive;
  font-weight: 600;
}

.loading {
  margin-top: 15%;
  text-align: center;
  padding: 10px;
  color: #ff3d00 !important;
}
